.tag-page {
    .tag-page-title {
        margin-bottom: 10px;
        padding: 0 25px;
        font-size: 24px;
    }

    .tag-page-tag {
        display: inline;
        font-size: inherit;
    }
}